body {
    font-family: 'B612', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    overflow-wrap: break-word;
}

pre {
    overflow: scroll;
}

a {
    text-decoration: none;
    color: #0077b6;
}

